<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio"><ion-icon name="home-outline" aria-hidden="true"></ion-icon><ion-label>Inicio</ion-label></ion-tab-button>
    <ion-tab-button tab="plan" href="/tabs/plan"><ion-icon name="list-outline" aria-hidden="true"></ion-icon><ion-label>Plan</ion-label></ion-tab-button>
    <ion-tab-button tab="entorno" href="/tabs/entorno"><ion-icon name="location-outline" aria-hidden="true"></ion-icon><ion-label>Entorno</ion-label></ion-tab-button>
    <ion-tab-button tab="recursos" href="/tabs/recursos"><ion-icon name="book-outline" aria-hidden="true"></ion-icon><ion-label>Recursos</ion-label></ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
